@model UI.Models.Register.IndexModel

@{
    ViewBag.Title = "Register";
}

<h2>注册</h2>

<h3>@ViewData["Greet"]</h3>
<h3>@ViewBag.Greet</h3>
<h3>@DateTime.Now</h3>

@using (Html.BeginForm())
{
    @*<label></label>
        @Html.Label("UserName")<br />*@
    @Html.LabelFor(m => m.UserName)<br />
    @Html.TextBoxFor(m => m.UserName, new { @class = "" })<br />
    @Html.ValidationMessageFor(m => m.UserName);

    @Html.Label("密码")<br />
    @Html.PasswordFor(m => m.Password)<br />
    @Html.ValidationMessageFor(m => m.Password);


    @Html.Label("验证码")<br />
    @Html.TextBoxFor(m => m.Captcha)
    @Html.ValidationMessageFor(m => m.Captcha);

    @Html.DropDownListFor(m=>m.Cites,new SelectList(Model.Cites),"----")
 

    <div>@Model.aaa</div>
    <button type="submit">提交</button>
}

<img src="~/favicon.ico" />
<img id="captcha" src="/Register/Get" />
<a href="#" onclick="Captcha()">刷新</a>

<a href="/Register/GetImg">下载</a>

@Html.ActionLink("Action","/Register/GetImg")

<script>

    var url = document.getElementById("captcha").getAttribute("src");

    function Captcha() {
        var random = Math.random();
        document.getElementById("captcha").setAttribute("src", url + "?version=" + random);
    }
</script>