@page
@model Demo.Pages.IndexModel
<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />


@{
    Layout = "_yz";
}

<p>当前时间：@(DateTime.Now)</p>

@{
    string name = "飞哥";
    int height = 187;
}

@functions{
    int faceScore;

    int FaceScore
    {
        get { return faceScore; }
        set { faceScore = 100; }
    }
    string greet()
    {
        return $"源栈{faceScore}";
    }
}

<p>@greet()</p>

<p>@name</p>

@("<p style=\"color: aqua\">大神</p>")

@Html.Raw("<p style=\"color: aqua\">大神</p>")

<a>1134@(height)1628</a>

@if (DateTime.Now.Ticks % 2 == 0)
{
    <p>@DateTime.Now</p>
}
else
{
}

@switch (height)
{
    case 187:
        <p>身高</p>
        break;
    default:
        <p>体重</p>
        break;
}

@section bar{
    <p>section</p>
}


<a asp-page="/About/">about</a>
@*<!yz:img asp-append-version="true" src="~/images/banner1.svg" />*@

<pager path="/Article" pageIndex="2">pager 2</pager>

<form method="post">
    <div>
        <span asp-validation-for="UserName"></span>
        <label>用户名：</label><input type="text" name="UserName" />
    </div>
    <div>
        <label>密码：</label><input type="password" name="Password" />
    </div>
    <label><input type="checkbox" asp-for="Remember" />复选框</label>
    <div>
        <input type="radio" asp-for="student" value="男" />男
        <input type="radio" asp-for="student" value="女" />女
    </div>
    <div>
        @*<select asp-for="day" asp-items="Html.GetEnumSelectList(typeof(DayOfWeek))"></select>*@
        @*<select asp-for="YZfee" asp-items="Html.GetEnumSelectList(typeof(Fee))"></select>*@
        @*<select asp-for="NumberList" asp-items="Html.GetEnumSelectList(typeof(SelectList))"></select>*@
        <select asp-for="Winner" asp-items="Model.Stutents"></select>     @*//加multiple属性可以多选*@


    </div>

    <div>
        <button type="submit">提交</button>
    </div>
</form>
<datetime>@DateTime.Now</datetime>
<datetime asp-showicon="true">@DateTime.Now</datetime>

@*<datetime sp-only="date">@DateTime.Now</datetime>*@

